<div class="jumbotron">
  <h1 class="display-1 text-center">Evento</h1>
  <div align="center">
    <a href="<%= new_event_path %>" class="btn btn-primary">Create an event</a>
  </div>
</div>

<div class="container">
  
</div>