<div class="jumbotron">
  <h1 class="display-1 text-center">Evento</h1>
  <div align="center">
    Event creation
  </div>
</div>


<div class = "container">
  <div class = "row">
    <div class = "col-md-6 offset-md-3">
      <%= form_with model: @event do |f| %>
        <div class="form-group">
          <%= f.label :name, "Name" %>      
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :description, "Description" %> 
          <%= f.text_area :description , class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :location, "Location" %> 
          <%= f.text_field :location , class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :speaker_email, "Email of speaker" %> 
          <%= f.text_field :speaker_email , class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :category, "Category" %> 
          <%= f.select :category, options_for_select([['workshop', 'workshop'], ['office hours', 'office_hours']]), {}, class: 'form-control', id: 'category' %>
        </div>

        <div class="form-group">
          <%= f.label :max_participants, "Maximum number of participants" %> 
          <%= f.text_field :max_participants , class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :date, "Start Date" %> 
          <%= f.text_field :starts_at, class: 'form-control datetimepicker date'%>
        </div>

        <div class="form-group">
          <%= f.label :date, "End Date" %> 
          <%= f.text_field :ends_at, class: 'form-control datetimepicker date'%>
        </div>

        <%= f.submit "Create", type: 'submit', class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datetimepicker').datetimepicker();
    $('#registrations-form').toggle($('#category').val() == 'office_hours')

    $('#category').change(function(){
      $('#registrations-form').toggle($('#category').val() == 'office_hours')
    })
  });

</script>