<!DOCTYPE html>
<html>
  <head>
    <title>Evento</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="/"">Evento Home</a>
  </nav>

   <div class="container">
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>
    </div>

    <%= yield %>
  </body>
</html>
